# Configurações do MongoDB
MONGODB_URI=mongodb://localhost:27017/runcash
MONGODB_DB_NAME=runcash

# Configurações da API
HOST=0.0.0.0
PORT=5000
ALLOWED_ORIGINS=https://runcashnew-frontend-nu.vercel.app,http://localhost:3000

# Configurações de ambiente
PRODUCTION=false
SIMULATE_DATA=false

# Configurações de scraping
CASINO_URL=https://www.cassinobrazil.com/ 